
# Created by https://www.gitignore.io/api/xcode

### Xcode ###
# Xcode

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Custom 
LinusForumTips.xcworkspace/xcuserdata/
Pods/Pods.xcodeproj/xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate

# End of https://www.gitignore.io/api/xcode
